body{
    background-color: pink;
    padding:50px 100px;
}
h1{
    text-align: center;
    font-size: 40px;
}
#container{
    text-align: center;
    background-color: teal;
    padding:50px;
    border-radius: 20px;
    border: 5px solid black;
}
.input-div{
    display: inline-block;
}
.inp{
    padding:5px 10px;
    margin:10px;
    font-size: 30px;
    font-weight: bold;
    width:250px;
    text-align: center;
}
label{
    font-size: 25px;
    color:white
}

